<%- include('partials/header.ejs')%>

<main class="container-home">
  <div class="olaf"></div>
  <div class="wrapper">
    <% if(locals.error){ %>
    <p class="error-info"><%= locals.error %></p>
    <% } %> <% if(!locals.account){ %> <%- include('partials/mainForm.ejs')%> <%
    } else { %> <%- include('partials/displayGeneralInfo.ejs')%> <% } %>
  </div>
  <div class="ryze"></div>
</main>
<%- include('partials/footer.ejs')%>
